In [ ]:
import pandas as pd
import wikipedia as wp
from pygeocoder import Geocoder
import time
from googletrans import Translator
# Import and Initialize Sentiment Analyzer
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
import requests
import pandas as pd
from bs4 import BeautifulSoup
import re
from datetime import datetime
from datetime import date, timedelta

import tweepy; import json
from apikeys import twitterAccessToken as access_token
from apikeys import twitterAccessTokenSecret as access_token_secret
from apikeys import twitterConsumerKey as consumer_key
from apikeys import twitterConsumerSecretKey as consumer_secret

def parse_url( url):
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'lxml')
    listylist=[]
    for table in soup.find_all('table'):
        listylist.append(parse_html_table(table))
    return listylist

def parse_html_table( table):
    n_columns = 0; n_rows=0; column_names = []

    # Find number of rows and columns
    # we also find the column titles if we can
    for row in table.find_all('tr'):

        # Determine the number of rows in the table
        td_tags = row.find_all('td')
        if len(td_tags) > 0:
            n_rows+=1
            if n_columns == 0:
                # Set the number of columns for our table
                n_columns = len(td_tags)

        # Handle column names if we find them
        th_tags = row.find_all('th') 
        if len(th_tags) > 0 and len(column_names) == 0:
            for th in th_tags:
                column_names.append(th.get_text())

    # Safeguard on Column Titles
    if len(column_names) > 0 and len(column_names) != n_columns:
        raise Exception("Column titles do not match the number of columns")

    columns = column_names if len(column_names) > 0 else range(0,n_columns)
    df = pd.DataFrame(columns = columns,
                      index= range(0,n_rows))
    row_marker = 0
    for row in table.find_all('tr'):
        column_marker = 0
        columns = row.find_all('td')
        for column in columns:
            df.iat[row_marker,column_marker] = column.get_text()
            column_marker += 1
        if len(columns) > 0:
            row_marker += 1

    # Convert to float if possible
    for col in df:
        try:
            df[col] = df[col].astype(float)
        except ValueError:
            pass

    return df

def getCountryLanguages():
    #TODO: Use the .apply to just change the table to one dialect. Imrpove language scope later.
    df = parse_url('https://www.infoplease.com/world/countries-world/languages-spoken-each-country-world')
    countryLanguages = df[0].rename(columns={0:'country',1:'language'}).set_index('country')
    countryLanguages['language'] = [re.sub('\d+|%|\(.*\)|\s','',i).split(',')[0].split(';')[0] for i in countryLanguages['language']]
    return countryLanguages


#returns hashtag, followers, following, text, geo, date
#cityCountry example: 'paris,france'
def SearchForData(search_term, nTweets, cityCountry='',radius=100):
    
    # Setup Tweepy API Authentication
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_token_secret)
    api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())
    
    #--- Calculate geocordinates from cityCountry --- --- ---- ---- --- --- --- --
    geoConvertTries = 0
    while True:
        try:
            result = Geocoder.geocode(cityCountry)
        except Exception as error:
            #print('errrooooorrrrr: ',error.message)
            if 'OVER_QUERY_LIMIT' in str(error):
                print('Encountered an error:{0}\nWaiting 30 seconds and trying again.'.format(error))
                time.sleep(30)
                if geoConvertTries>10:
                    print("Could not convert geo. returning empty list")
                    return []
            elif not (re.search('^\w+,\w+$',cityCountry)):
                print("cityCountry input format is incorrect. It should be \'city,Country\' like \'paris,france\'")
                return []
            else:
                print("Could not convert geo. returning empty list")
                return []
        else:
            break
        geoConvertTries+=1
    # 34.0934,56.134,50mi
    coords = str(result[0].coordinates).replace('(','').replace(')','') + f',{radius}mi'
    coords=coords.replace(' ','')
    print(cityCountry, ": ", coords)
    #--- ---- ----- ---- ---- ---- ---- ---- --- ---- ---- --- ---- --- ---- --- --

    #--- grab tweets --- ---- ---- ---- ---- ---- ---- ---- --- --- ---- ---- ----
    maxTweets = 10000; oldest_tweet = None; unique_ids = []; desiredTweets = [];nTweetsPerDay=nTweets/8
    for day,num in zip([str(date.today() - timedelta(i)).split()[0] for i in range(8)], range(1,9)):
        tweetsPerDay=[]
        while len(tweetsPerDay) < min(nTweetsPerDay,maxTweets/8):
            #--- determine whether to grab tweets by geo or not --- ---- --- ----- --
            while True:
                try:
                    if cityCountry:
                        tweetsPerDay = api.search(search_term, count=nTweetsPerDay, result_type="recent", max_id=oldest_tweet, geocode=coords, until=day)
                    else:
                        tweetsPerDay = api.search(search_term, count=nTweetsPerDay, result_type="recent", max_id=oldest_tweet, until=day)
                except Exception as error:
                    print(error,'Trying again after 1 minute.')
                    time.sleep(60)
                else:
                    break
            #---- ----- ----- ---- ----- ---- ----- ---- ----- ---- ---- ---- ---- --

            #--- Dont go through an infinite loop trying to fill tweets that don't exist -----
            if len(tweetsPerDay['statuses'])==0:
                print(f'No tweets returned while searching for \'{search_term}\'\n',len(desiredTweets)\
                     ,'\n',day)
                return pd.DataFrame(desiredTweets)

            #--- Append relevent tweets to output listy list ---- --- ---- ---- ---- --- ---
            for tweet in tweetsPerDay['statuses']:
                # Append tweet_id to ids list if it doesn't already exist. This allows checking for duplicate tweets
                if tweet["id"] not in unique_ids :
                    unique_ids.append(tweet['id'])
                    desiredTweets.append({'text':tweet['text'], 'vader':analyzer.polarity_scores(tweet['text'])['compound'],
                                          'location':cityCountry,
                                          'hashtags':tweet['entities']['hashtags'], 'followers':tweet['user']['followers_count'],
                                         'friends_count':tweet['user']['friends_count'],'statuses_count':tweet['user']['statuses_count'],
                                          'created_at':datetime.strptime(tweet['created_at'],'%a %b %d %H:%M:%S %z %Y')})
                
                # Reassign the the oldest tweet (i.e. the max_id) subtract 1 so the previous oldest isn't included
                oldest_tweet = tweet["id"] - 1
            

    #--- Print sample tweet --- --- ---- ---- --- ---- ---- --- ---- ---- ---
    translator = Translator()
    try:
        print ('Sample Tweet:',translator.translate(desiredTweets[0]['text'], dest='en').text)
    except:
        print('there was an error translating sample tweet: ',desiredTweets[0]['text'])
    return pd.DataFrame(desiredTweets)


def GetTweetsByPopularCities(search_term, numTweets, translateToLocalLanguage = True):
    #-- Get the most populated cities from wikipedia (Thank you wikipedia library!) --
    html = wp.page("List_of_cities_by_population_density").html().encode("UTF-8")
    worldCities = pd.read_html(html)[1]
    worldCities = worldCities.drop([2,3,4],axis=1)
    worldCities = worldCities.rename(columns={0:'city',1:'population',5:'density',6:'country'})
    worldCities = worldCities.iloc[1:]
    worldCities['population'] = [int(city.split('\xa0')[-1].split('[')[0].replace(',','')) for city in worldCities['population']]
    worldCities['density'] = [int(city.split('\xa0')[-1].split('[')[0].replace(',','')) for city in worldCities['density']]
    #--- ---- ----- ----- ---- ---- ----- ---- ---- ----- --- ---- ---- ----- ---- ---
    
    #--- population per cities in United States --- ---- ---- --- ---- --- --- --- ---
    html = wp.page("List_of_United_States_cities_by_population_density").html().encode("UTF-8")
    UScities = pd.read_html(html)[1]
    UScities = UScities.drop([0,2,4,6,8],axis=1)
    UScities = UScities.rename(columns={1:'city',3:'state',5: 'land area (mi^2)',7:'density'})
    UScities = UScities.iloc[1:]
    #df['population']=[int(city.split('\xa0')[-1].split('[')[0].replace(',','')) for city in df['population']]
    UScities['density'] = [float(city.split('\xa0')[-1].split('[')[0].replace(',','')) for city in UScities['density']]
    UScities['land area (mi^2)']=[float(area.split('\xa0')[-1]) for area in UScities['land area (mi^2)']]
    #--- ---- ----- ----- ---- ---- ----- ---- ---- ----- --- ---- ---- ----- ---- ---
    
    #--- Get tweets by Worlds most densily populated cities ---- --- ---- ---- --- ---
    translator = Translator()
    comparisons=pd.DataFrame(columns=['time density','sentiment'])
    cityCount = 3
    for index,row in worldCities.iterrows():
        #-- location --- ----- --- ----
        city,pop,density,country = row
        cityCountry = city+' , '+country

        #-- language conversion --- ---- --
        languagesDf = getCountryLanguages()
        if translateToLocalLanguage:
            try:
                translatedSearch = translator.translate(search_term, src='en', dest=languagesDf.loc[country,'language']).text
            except ValueError:
                print("could not translate ", languagesDf.loc[country,'language'])
                translatedSearch=search_term
                print('translated word: ',translatedSearch)
        else:
            translatedSearch=search_term
        #--- --- --- ---- ---- --- --- ---
        
        try:
            tweetsWorld = pd.concat([tweetsWorld, SearchForData(translatedSearch, numTweets, cityCountry, 100)], axis=0)
        except:
            tweetsWorld = SearchForData(translatedSearch, numTweets, cityCountry, 100)
        print('\n')
        time.sleep(4)
        #if cityCount==0:
        #    break
        #else:
        #    cityCount-=1
    
    #--- Add US Cities --- ---- ---- ---- ---- ---
    cityCount = 5
    for index,row in UScities.iterrows():
        #-- location --- ----- --- ----
        city,state,area,density = row
        cityCountry = state+' , '+city

        try:
            tweetsUS = pd.concat([tweetsUS, SearchForData(translatedSearch, numTweets, cityCountry, max(area,5))], axis=0)
        except:
            tweetsUS = SearchForData(translatedSearch, numTweets, cityCountry, max(area,5))
        
        print('\n')
        time.sleep(4)
        #if cityCount==0:
        #    break
        #else:
        #    cityCount-=1
    return tweetsUS, tweetsWorld



tweetsUS, tweetsWorld = GetTweetsByPopularCities('trump', 200, False)
print(tweetsUS.groupby('location').mean())
print(tweetsWorld.groupby('location').mean())


                                                               #locations are not required inputs
#tweets = SearchForData(search_term='baguettes', nTweets=100, cityCountry='paris,france',radius=100)
#tweets

Manila , Philippines :  14.5995124,120.9842195,100mi
[{'message': 'Rate limit exceeded', 'code': 88}] Trying again after 1 minute.

In [124]:
tweets

,created_at,followers,friends_count,hashtags,location,statuses_count,text
0,2018-06-29 23:17:03+00:00,683,2054,[],"Manila , Philippines",33583,I have a strong feeling ....... that due to t...
1,2018-06-29 22:47:07+00:00,196,1740,[],"Manila , Philippines",5359,"@tedcruz It must be a cold day in hell, becaus..."
2,2018-06-29 22:17:22+00:00,679,111,[],"Manila , Philippines",22461,Loads of respect for @AndrewCMcCarthy - but if...
3,2018-06-29 21:49:06+00:00,1291,2499,"[{'text': 'TuckFrump', 'indices': [66, 76]}]","Manila , Philippines",62316,@BishTrumpsCray @zeitgeistbabe @IvankaTrump @S...
4,2018-06-29 21:41:01+00:00,76,108,[],"Manila , Philippines",5491,The media no longer has any credibility with p...
5,2018-06-29 21:38:04+00:00,1407,789,[],"Manila , Philippines",14301,Would you rather have Donald Trump or Kanye We...
6,2018-06-29 21:21:40+00:00,1371,1069,[],"Manila , Philippines",100819,Did Poland eventually lose World War II becaus...
7,2018-06-29 21:16:25+00:00,1464,2907,[],"Manila , Philippines",5879,"RT @Starshadow: @dimobey @ananavarro ""He was j..."
8,2018-06-29 21:11:44+00:00,49,135,"[{'text': 'StutteringJohn', 'indices': [88, 10...","Manila , Philippines",583,Hopefully the Donald has a sense of humor abou...
9,2018-06-29 20:56:39+00:00,1578,1004,[],"Manila , Philippines",35862,@flotus isn't it true when Melania Trump first...
10,2018-06-28 23:43:53+00:00,134,356,[],"Manila , Philippines",26806,Oprah’s SICK S*x Vid Out And Completely Demoli...
11,2018-06-28 23:33:56+00:00,72,128,[],"Manila , Philippines",4945,@rob1cox More from our unbiased MSM. Need a...
12,2018-06-28 23:20:09+00:00,151,1104,[],"Manila , Philippines",1073,"RT @RinChupeco: White people, journalists who ..."
13,2018-06-28 23:12:38+00:00,248,1989,[],"Manila , Philippines",4702,@ESSsubreddit @SenSanders No they didn't. Do y...
14,2018-06-28 23:06:50+00:00,366677,201,[],"Manila , Philippines",201963,Trump-Putin meeting to follow NATO gathering a...
15,2018-06-28 23:01:51+00:00,293,1382,[],"Manila , Philippines",8802,RT @dzIQ990: US President Donald Trump at Russ...
16,2018-06-28 22:55:40+00:00,1757,1685,[],"Manila , Philippines",37555,"RT @RinChupeco: White people, journalists who ..."
17,2018-06-28 22:54:25+00:00,3789,4907,[],"Manila , Philippines",26129,"RT @RinChupeco: White people, journalists who ..."
18,2018-06-27 23:57:35+00:00,21,208,[],"Manila , Philippines",917,"RT @RinChupeco: White people, journalists who ..."
19,2018-06-27 23:49:44+00:00,42,66,[],"Manila , Philippines",5268,@charliekirk11 @realDonaldTrump Trump has quit...
20,2018-06-27 23:45:00+00:00,5863642,1304,[],"Manila , Philippines",602468,Trump trade uncertainty weighs on US stocks as...
21,2018-06-27 23:38:20+00:00,207,1055,[],"Manila , Philippines",4507,"RT @RinChupeco: White people, journalists who ..."
22,2018-06-27 23:36:29+00:00,510,434,[],"Manila , Philippines",32256,What do you think of Trump's presidential run ...
23,2018-06-27 23:35:27+00:00,32,155,[],"Manila , Philippines",1744,RT @marieAnne0915: Im a bit disappointed sa mg...
24,2018-06-27 23:34:16+00:00,141,528,[],"Manila , Philippines",3211,"RT @RinChupeco: White people, journalists who ..."
25,2018-06-27 23:10:01+00:00,544428,212,[],"Manila , Philippines",499788,EU chief says Europe must prepare for the wors...
26,2018-06-26 23:59:58+00:00,7452,879,[],"Manila , Philippines",19731,"RT @RinChupeco: White people, journalists who ..."
27,2018-06-26 23:55:02+00:00,291,162,[],"Manila , Philippines",7863,"RT @RinChupeco: White people, journalists who ..."
28,2018-06-26 23:54:54+00:00,37,30,[],"Manila , Philippines",58215,Missouri Nail Manufacturer Loses Half Its Busi...
29,2018-06-26 23:53:21+00:00,41,451,[],"Manila , Philippines",14044,"RT @RinChupeco: White people, journalists who ..."
...,...,...,...,...,...,...,...
26,2018-06-26 23:59:58+00:00,906,721,[],"New York City , New York",107703,RT @kimguilfoyle: A HUGE win for President Tru...
27,2018-06-26 23:59:58+00:00,1269,365,[],"New York City , New York",34076,RT @faiza_n_ali: This just happened. The highe...
28,2018-06-26 23:59:58+00:00,6250,5658,[],"New York City , New York",22409,DOJ watchdog report sheds light on love lives ...
29,2018-06-26 23:59:58+00:00,2233,494,[],"New York City , New York",311601,RT @true_pundit: Barack Obama Concerned About ...
30,2018-06-26 23:59:58+00:00,4297,4376,[],"New York City , New York",42347,One NBA Legend Attended A Trump Rally And The ...
31,2018-06-26 23:59:58+00:00,290,1210,[],"New York City , New York",144325,"RT @MrDane1982: Give me a fucking break, Berni..."
32,2018-06-25 23:59:59+00:00,145,205,[],"New York City , New York",35478,RT @maddow: NEW: MSNBC has obtained the first...
33,2018-06-25 23:59:58+00:00,2723,1986,[],"New York City , New York",42025,Related: for some reason I blocked @Nickelodeo...
34,2018-06-25 23:59:58+00:00,4489,4998,[],"New York City , New York",27990,RT @Kipnis4Congress: .@PhilMurphyNJ @RepBonnie...
35,2018-06-25 23:59:58+00:00,169,607,[],"New York City , New York",1583,RT @JoeNBC: Trump Administration report shows ...
36,2018-06-25 23:59:57+00:00,91,186,[],"New York City , New York",26056,RT @kylegriffin1: The Family Case Management P...
37,2018-06-25 23:59:57+00:00,5145,3198,[],"New York City , New York",425496,RT @NBCNews: A 20-foot-tall inflatable orange ...
38,2018-06-25 23:59:57+00:00,805,1150,[],"New York City , New York",60897,RT @maddow: NEW: MSNBC has obtained the first...
39,2018-06-25 23:59:57+00:00,38,126,[],"New York City , New York",1362,RT @kylegriffin1: The Red Hen passed its most ...
40,2018-06-24 23:59:59+00:00,5824,5835,"[{'text': 'TrumpConcentrationCamps', 'indices'...","New York City , New York",478,RT @leecaly: Nice message Melania Trump wore o...
41,2018-06-24 23:59:59+00:00,941,208,[],"New York City , New York",341641,RT @NBCNews: This Obama-era pilot program kept...
42,2018-06-24 23:59:59+00:00,304,313,[],"New York City , New York",14166,RT @Jamierodr10: Thank you @RealJamesWoods for...
43,2018-06-24 23:59:58+00:00,750,248,[],"New York City , New York",26266,RT @gr8tjude: Virginia Lawmakers Rebuke Anti-T...
44,2018-06-24 23:59:58+00:00,2765,4921,[],"New York City , New York",69653,RT @Amy_Siskind: Some things you need to notic...
45,2018-06-24 23:59:58+00:00,1744,228,[],"New York City , New York",22462,RT @TwitterMoments: California @RepMaxineWater...
46,2018-06-24 23:59:58+00:00,216,361,[],"New York City , New York",12461,RT @JoeNBC: I cannot wait to hear Trump apolog...
47,2018-06-24 23:59:58+00:00,33,176,[],"New York City , New York",94,RT @JoeNBC: Trump Administration report shows ...
48,2018-06-23 23:59:59+00:00,2143,2597,[],"New York City , New York",7256,RT @SenSchumer: The Special Counsel’s investig...
49,2018-06-23 23:59:59+00:00,37177,6292,[],"New York City , New York",220250,RT @dicktofel: This story makes a big deal of ...
50,2018-06-23 23:59:59+00:00,43,110,[],"New York City , New York",3208,RT @DanRather: When it comes to the Trump Admi...
51,2018-06-23 23:59:58+00:00,228,507,[],"New York City , New York",15361,RT @SenSchumer: The Special Counsel’s investig...
52,2018-06-23 23:59:58+00:00,40,151,[],"New York City , New York",290,RT @JoeNBC: “This is beyond narcissism. I used...
53,2018-06-23 23:59:58+00:00,39,191,[],"New York City , New York",483,RT @RubenBaezJr: @PressSec @POTUS Today has be...
54,2018-06-23 23:59:57+00:00,288,432,[],"New York City , New York",2079,RT @GrassrootsSpeak: Dear Kim Kardashian\n\nLa...
55,2018-06-23 23:59:56+00:00,451,444,[],"New York City , New York",3615,@cswany2 @Lawrence I know you're a Trump perso...

In [ ]:
from datetime import datetime
import matplotlib.pyplot as plt
timeBetween=[]
prevCreatedAt = datetime.strptime(tweets[0]['created_at'],'%a %b %d %H:%M:%S %z %Y')
for tweet in tweets[1:]:
    #print(tweet['created_at'])
    timeBetween.append((prevCreatedAt - datetime.strptime(tweet['created_at'],'%a %b %d %H:%M:%S %z %Y')).total_seconds()/60)
    prevCreatedAt = datetime.strptime(tweet['created_at'],'%a %b %d %H:%M:%S %z %Y')
plt.plot(range(999),timeBetween)
plt.show()
plt.plot([datetime.strptime(tweet['created_at'],'%a %b %d %H:%M:%S %z %Y') for tweet in tweets][::-1],range(1000))
#plt.x('date',rotation='vertical')
plt.show()
print((datetime.strptime(tweets[-1]['created_at'],'%a %b %d %H:%M:%S %z %Y')-datetime.strptime(tweets[0]['created_at'],'%a %b %d %H:%M:%S %z %Y')).total_seconds()//60//60)

In [ ]:
#This code came from the following link:
#https://srome.github.io/Parsing-HTML-Tables-in-Python-with-BeautifulSoup-and-pandas/
import requests
import pandas as pd
from bs4 import BeautifulSoup
import re

class HTMLTableParser():

    def parse_url(self, url):
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'lxml')
        listylist=[]
        for table in soup.find_all('table'):
            listylist.append(self.parse_html_table(table))
        return listylist

    def parse_html_table(self, table):
        n_columns = 0; n_rows=0; column_names = []

        # Find number of rows and columns
        # we also find the column titles if we can
        for row in table.find_all('tr'):

            # Determine the number of rows in the table
            td_tags = row.find_all('td')
            if len(td_tags) > 0:
                n_rows+=1
                if n_columns == 0:
                    # Set the number of columns for our table
                    n_columns = len(td_tags)

            # Handle column names if we find them
            th_tags = row.find_all('th') 
            if len(th_tags) > 0 and len(column_names) == 0:
                for th in th_tags:
                    column_names.append(th.get_text())

        # Safeguard on Column Titles
        if len(column_names) > 0 and len(column_names) != n_columns:
            raise Exception("Column titles do not match the number of columns")

        columns = column_names if len(column_names) > 0 else range(0,n_columns)
        df = pd.DataFrame(columns = columns,
                          index= range(0,n_rows))
        row_marker = 0
        for row in table.find_all('tr'):
            column_marker = 0
            columns = row.find_all('td')
            for column in columns:
                df.iat[row_marker,column_marker] = column.get_text()
                column_marker += 1
            if len(columns) > 0:
                row_marker += 1

        # Convert to float if possible
        for col in df:
            try:
                df[col] = df[col].astype(float)
            except ValueError:
                pass

        return df

#TODO: Use the .apply to just change the table to one dialect. Imrpove language scope later.
obj = HTMLTableParser()
df = obj.parse_url('https://www.infoplease.com/world/countries-world/languages-spoken-each-country-world')
countryLanguages = df[0].rename(columns={0:'country',1:'language'}).set_index('country')
newDict = []
for index, row in countryLanguages.iterrows():
    language = re.sub('\d+|%|\(.*\)|\s','',countryLanguages.loc[index].values[0]).split(',')[0].split(';')[0]
    newDict.append([index, language]) #print(index,": ",language)
newDict

newDf = pd.DataFrame(newDict)
newDf = newDf.rename(columns={0:'country',1:'language'}).set_index('country')
newDf

In [18]:
df = parse_url('https://www.infoplease.com/world/countries-world/languages-spoken-each-country-world')
countryLanguages = df[0].rename(columns={0:'country',1:'language'}).set_index('country')
countryLanguages['languages'] = [re.sub('\d+|%|\(.*\)|\s','',i).split(',')[0].split(';')[0] for i in countryLanguages['language']]
countryLanguages

,language,languages
country,,
Afghanistan,"Dari Persian, Pashtu (both official), other Tu...",DariPersian
Albania,"Albanian (Tosk is the official dialect), Greek",Albanian
Algeria,"Arabic (official), French, Berber dialects",Arabic
Andorra,"Catalán (official), French, Castilian, Portuguese",Catalán
Angola,"Portuguese (official), Bantu and other African...",Portuguese
Antigua and Barbuda,"English (official), local dialects",English
Argentina,"Spanish (official), English, Italian, German, ...",Spanish
Armenia,"Armenian 98%, Yezidi, Russian",Armenian
Australia,"English 79%, native and other languages",English
Austria,"German (official nationwide); Slovene, Croatia...",German
Azerbaijan,"Azerbaijani Turkic 89%, Russian 3%, Armenian 2...",AzerbaijaniTurkic
Bahamas,"English (official), Creole (among Haitian immi...",English
Bahrain,"Arabic, English, Farsi, Urdu",Arabic
Bangladesh,"Bangla (official), English",Bangla
Barbados,English,English
Belarus,"Belorussian (White Russian), Russian, other",Belorussian
Belgium,"Dutch (Flemish) 60%, French 40%, German less t...",Dutch
Belize,"English (official), Spanish, Mayan, Garifuna (...",English
Benin,"French (official), Fon, Yoruba, tribal languages",French
Bhutan,"Dzongkha (official), Tibetan dialects (among B...",Dzongkha
Bolivia,"Spanish, Quechua, Aymara (all official)",Spanish
Bosnia and Herzegovina,"Bosnian, Croatian, Serbian",Bosnian
Botswana,"English 2% (official), Setswana 78%, Kalanga 8...",English
Brazil,"Portuguese (official), Spanish, English, French",Portuguese
Brunei,"Malay (official), English, Chinese",Malay
Bulgaria,"Bulgarian 85%, Turkish 10%, Roma 4%",Bulgarian
Burkina Faso,French (official); native African (Sudanic) la...,Frenchlanguages
Burundi,"Kirundi and French (official), Swahili",KirundiandFrench
Cambodia,"Khmer 95% (official), French, English",Khmer
Cameroon,"French, English (both official); 24 major Afri...",French
...,...,...
Swaziland,"English, siSwati (both official)",English
Sweden,"Swedish, small Sami- and Finnish-speaking mino...",Swedish
Switzerland,"German 64%, French 20%, Italian 7% (all offici...",German
Syria,"Arabic (official); Kurdish, Armenian, Aramaic,...",Arabic
Taiwan,"Chinese (Mandarin, official), Taiwanese (Min),...",Chinese
Tajikistan,"Tajik (official), Russian widely used in gover...",Tajik
Tanzania,"Swahili, English (both official); Arabic; many...",Swahili
Thailand,"Thai (Siamese), English (secondary language of...",Thai
Togo,"French (official, commerce); Ewé, Mina (south)...",French
Tonga,"Tongan (an Austronesian language), English",Tongan
Trinidad and Tobago,"English (official), Hindi, French, Spanish, Ch...",English
Tunisia,"Arabic (official, commerce), French (commerce)",Arabic
Turkey,"Turkish (official), Kurdish, Dimli, Azeri, Kab...",Turkish
Turkmenistan,"Turkmen 72%; Russian 12%; Uzbek 9%, other 7%",Turkmen
Tuvalu,"Tuvaluan, English, Samoan, Kiribati (on the is...",Tuvaluan
Uganda,"English (official), Ganda or Luganda, other Ni...",English
Ukraine,"Ukrainian 67%, Russian 24%, Romanian, Polish, ...",Ukrainian
United Arab Emirates,"Arabic (official), Persian, English, Hindi, Urdu",Arabic
United Kingdom,"English, Welsh, Scots Gaelic",English
United States,"English 82%, Spanish 11% (2000)",English
Uruguay,"Spanish, Portunol, or Brazilero",Spanish
Uzbekistan,"Uzbek 74.3%, Russian 14.2%, Tajik 4.4%, other ...",Uzbek.
Vanuatu,"Bislama 23% (a Melanesian pidgin English), Eng...",Bislama
Vatican City (Holy See),"Italian, Latin, French, various other languages",Italian
Venezuela,"Spanish (official), numerous indigenous dialects",Spanish
Vietnam,Vietnamese (official); English (increasingly f...,Vietnamese
Western Sahara (proposed state),"Hassaniya Arabic, Moroccan Arabic",HassaniyaArabic
Yemen,Arabic,Arabic
Zambia,"English (official); major vernaculars: Bemba, ...",English
Zimbabwe,"English (official), Shona, Ndebele (Sindebele)...",English

In [ ]:
translator=Translator()
translator.translate('Hola me llamo Jennifer 😜😜', dest='en').text

In [37]:
# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())
tweets = api.search('dalailama')
tweets['statuses'][0]

{'contributors': None,
 'coordinates': None,
 'created_at': 'Sat Jun 30 19:33:55 +0000 2018',
 'entities': {'hashtags': [{'indices': [87, 93], 'text': 'Tibet'},
   {'indices': [94, 103], 'text': 'Tibetans'},
   {'indices': [104, 114], 'text': 'FreeTibet'}],
  'symbols': [],
  'urls': [{'display_url': 'shar.es/anBniE',
    'expanded_url': 'https://shar.es/anBniE',
    'indices': [47, 70],
    'url': 'https://t.co/zAKFBK5Mna'},
   {'display_url': 'twitter.com/i/web/status/1…',
    'expanded_url': 'https://twitter.com/i/web/status/1013143614623440896',
    'indices': [116, 139],
    'url': 'https://t.co/9GU9LWHwGp'}],
  'user_mentions': [{'id': 23065876,
    'id_str': '23065876',
    'indices': [75, 85],
    'name': 'Tsem Tulku Rinpoche',
    'screen_name': 'tsemtulku'}]},
 'favorite_count': 0,
 'favorited': False,
 'geo': None,
 'id': 1013143614623440896,
 'id_str': '1013143614623440896',
 'in_reply_to_screen_name': None,
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'is_quote_status': False,
 'lang': 'en',
 'metadata': {'iso_language_code': 'en', 'result_type': 'recent'},
 'place': None,
 'possibly_sensitive': False,
 'retweet_count': 0,
 'retweeted': False,
 'source': '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>',
 'text': 'The Sixty-Four Yogini Temple of Hirapur, India https://t.co/zAKFBK5Mna via @tsemtulku\n\n#Tibet\n#Tibetans\n#FreeTibet… https://t.co/9GU9LWHwGp',
 'truncated': True,
 'user': {'contributors_enabled': False,
  'created_at': 'Wed Nov 18 10:24:35 +0000 2015',
  'default_profile': False,
  'default_profile_image': False,
  'description': '',
  'entities': {'description': {'urls': []}},
  'favourites_count': 7051,
  'follow_request_sent': False,
  'followers_count': 288,
  'following': False,
  'friends_count': 181,
  'geo_enabled': True,
  'has_extended_profile': True,
  'id': 4277739734,
  'id_str': '4277739734',
  'is_translation_enabled': False,
  'is_translator': False,
  'lang': 'en',
  'listed_count': 74,
  'location': 'Bentung, Pahang',
  'name': 'Chris Chong',
  'notifications': False,
  'profile_background_color': '000000',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4277739734/1524960980',
  'profile_image_url': 'http://pbs.twimg.com/profile_images/780584831935586304/GLHvkq-Q_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/780584831935586304/GLHvkq-Q_normal.jpg',
  'profile_link_color': '1B95E0',
  'profile_sidebar_border_color': '000000',
  'profile_sidebar_fill_color': '000000',
  'profile_text_color': '000000',
  'profile_use_background_image': False,
  'protected': False,
  'screen_name': 'chrischong90',
  'statuses_count': 9983,
  'time_zone': None,
  'translator_type': 'none',
  'url': None,
  'utc_offset': None,
  'verified': False}}

In [34]:
import pandas as pd
import wikipedia as wp
from pygeocoder import Geocoder
import time
import re
    
#-- Get the most populated cities from wikipedia (Thank you wikipedia library!) --
html = wp.page("List_of_cities_by_population_density").html().encode("UTF-8")
df = pd.read_html(html)[1]
df=df.drop([2,3,4],axis=1)
df=df.rename(columns={0:'city',1:'population',5:'density',6:'country'})
df=df.iloc[1:]
df['population']=[int(city.split('\xa0')[-1].split('[')[0].replace(',','')) for city in df['population']]
df['density']=[int(city.split('\xa0')[-1].split('[')[0].replace(',','')) for city in df['density']]
df
#--- ---- ----- ----- ---- ---- ----- ---- ---- ----- --- ---- ---- ----- ---- ---

                         city  population  density           country
1                      Manila     1780148   107561       Philippines
2                       Ebeye       15000   107143  Marshall Islands
3      Pateros (Municipality)       64147    79114       Philippines
4                      Mumbai    12478447    73837             India
5                       Dhaka     8523137    73583        Bangladesh
6                   Bnei Brak      200162    73159            Israel
7                    Caloocan     1489040    72302       Philippines
8            Levallois-Perret       63436    68458            France
9       Le PrÃ©-Saint-Gervais       18121    67047            France
10                    Chennai     4681087    66961             India
11                  Vincennes       48689    66371            France
12               Saint-MandÃ©       22627    65115            France
13                      Bally      291972    64031             India
14                    Kolkata     4486679    62813             India
15      Saint-Josse-ten-Noode       27548    62404           Belgium
16                  Kathmandu     1183000    61972             Nepal
17                Subang Jaya     1683589    38482          Malaysia
18                    Neapoli       27084    60186            Greece
19                  Montrouge       48410    59705            France
20                      MalÃ©      133412    59559          Maldives
21                    Malabon      353337    58607       Philippines
22     Guttenberg, New Jersey       11481    58577     United States
23                      Pasig      669773    55958       Philippines
24                      Paris     2265886    55673            France
25                    Mislata       43756    54695             Spain
26                      Macau      643100    54790             China
27                  Kallithea      100050    54733            Greece
28                 Nea Smyrni       73090    53717            Greece
29                     Howrah     1072161    53670             India
30                      Pasay      392869    53554       Philippines
31                   San Juan      121430    52946       Philippines
32                    Colombo      323257    52871         Sri Lanka
33  L'Hospitalet de Llobregat      252171    52536             Spain
34     Union City, New Jersey       66455    51810     United States
35                      Cairo    11742120    50180             Egypt
36                     Makati      529039    50080       Philippines
37  West New York, New Jersey       49708    49362     United States
38               Saint-Gilles       46931    48234           Belgium
39                    Bandung     3075478    48054         Indonesia
40                     Monaco       36950    47372            Monaco
41       Boulogne-Billancourt      113085    47240            France
42                Quezon City     2936116    45999       Philippines

In [30]:
[int(city.split('\xa0')[-1].split('[')[0].replace(',','')) for city in df['population']]

[1780148,
 15000,
 64147,
 12478447,
 8523137,
 200162,
 1489040,
 63436,
 18121,
 4681087,
 48689,
 22627,
 291972,
 4486679,
 27548,
 1183000,
 1683589,
 27084,
 48410,
 133412,
 353337,
 11481,
 669773,
 2265886,
 43756,
 643100,
 100050,
 73090,
 1072161,
 392869,
 121430,
 323257,
 252171,
 66455,
 11742120,
 529039,
 49708,
 46931,
 3075478,
 36950,
 113085,
 2936116]

In [4]:
tweets['Manila,Philippines']

,followers,following,geo,hashtags,statuses_count,text
0,154060,False,None,[],22455,@ryapee Hi Rya order ako ulit polyblender mejo...
1,83,False,None,[],3030,Yung dating saling pusa naging aso bigla // 🎶
2,643,False,None,"[{'text': 'AdoptDontShop', 'indices': [38, 52]}]",8529,sana meron din dito sa Pilipinas yung #AdoptDo...
3,2729,False,None,[],28771,"Aso nga kasi ako, bantay ako dito hahaha 😂"
4,25,False,None,[],14,lakas mangahol ng kaklase ko dinaig pa aso nam...
5,116,False,None,[],1993,@LampanoElla Dun sa aso oo HAHA
6,113,False,None,[],4495,Me: labas mo dila para lumabas dila ng aso \nS...
7,130,False,None,[],1745,cute kong aso https://t.co/twDprm7o5P
8,54,False,None,[],727,me: pabili pong dog food\ntindero: alin? ung p...
9,24,False,None,[],296,@dsgalarpez hahahaha aso ka na ba ngayon?
10,841,False,None,[],29025,@DenniceRoselle Uy kawawa mga aso. Di naman si...
11,260,False,None,[],8486,Nagtanggal tuloy ako nang mga tae nang aso kai...
12,260,False,None,[],8486,Nakakapikon ung aso 😭😭
13,176,False,None,[],4682,May mga sakit aso namin hanep
14,1357,False,None,[],15736,i hate when strangers esp. men look at you str...
15,422,False,None,[],21045,@dnnkthryn Ngek malas. Sa rosewood naman okay ...
16,422,False,None,[],21045,@dnnkthryn Yup. Iba talaga pag bahay super fre...
17,365,False,None,[],2083,Tang ina sobrang iba pala pakiramdam pag namat...
18,75,False,None,[],243,aso't pusa ❤\ngoodmorning hubby babe ! https:/...
19,1021,False,None,[],11119,"RT @akoposimarcelo: Yung buti pa yung mga aso,..."
20,47,False,None,[],905,"napaka clingy ng aso ko, nebeyen hehe"
21,147,False,None,[],3406,ang laki ng aso!!! panay naka tahol
22,269,False,None,[],21310,Alam ata ng aso ko na birthday ko ngayon. Iba ...
23,548,False,None,[],3553,Nagduduet nanaman yung dalawang aso hays
24,88,False,None,[],1470,Yung aso naming maligalig na palundag lundag pa
25,394,False,None,[],67411,Mukha talaga akong tanga kapag nakikipaglaro a...
26,105,False,None,[],417,"RT @akoposimarcelo: Yung buti pa yung mga aso,..."
27,174,False,None,[],4033,nagdisitahulan mga aso ang creepy huhu
28,90,False,None,[],828,@glbysrcmny aso
29,850,False,None,[],11211,Distemper virus. may ganyan plang sakit nang m...
...,...,...,...,...,...,...
70,80,False,None,[],1208,Plus two agad aso namen AAHAHAHAHAH saya
71,180,False,None,[],6216,@jhnlstrpgnsn Hahaha hindi ko aso yun sa ate k...
72,1280,False,None,[],5483,"RT @akoposimarcelo: Yung buti pa yung mga aso,..."
73,74,False,None,[],2055,Mama: Tanga Di Mo Pa Pinapakain Yung Aso.\n\nT...
74,72,False,None,[],456,@cescamarii di yan kusa aso yan
75,365,False,None,[],2083,Nasagasaan aso ko 😢
76,301,False,None,[],4788,Ngayon ko nalang na appreciate ulit yung ganda...
77,561,False,None,[],13927,pag gantong nalulungkot ako imbis na maghanap ...
78,180,False,None,[],6718,creepy ng aso pero mahal ko kayo HAHAHHHAHAHA
79,329,False,None,[],1259,Pagod bebi ko ako inaantok na tagal ni aso HAH...
80,5,False,None,[],460,So ayun diba may hamster kami si Luxus saka si...
81,797,False,None,[],42407,@Anniefernando6 @aldenAllTheWay Baka kayo ang ...
82,293,False,None,[],3881,hindi ako to pramis. hahahahahahaha hindi ako ...
83,293,False,None,[],3881,HUY ANG WEIRD TALAGA KASI NAGSESAVE AKO NG PIC...
84,84,False,None,[],15631,Fun fact about you — Sobrang love ko yung mga ...
85,293,False,None,[],3881,diko maintindihan bakit ako nagsesave ng pictu...
86,440,False,None,[],1375,Hayaan mo lang na husgahan ka nila.Hindi yung ...
87,476,False,None,[],7158,@pauiicosta lumabas na naman pagka aso mo haha...
88,35,False,None,[],1902,"nagttampo ako kay potchi, tangina aso lang yon..."
89,183,False,None,[],1154,Ako: pare iiyak ka pag namatay aso mo? \nRoque...
90,62,False,None,[],756,Aso ko e pero di na maghahabol🐶 https://t.co/Y...
91,44,False,None,[],64,hi aso
92,167,False,None,[],2591,Nangapitbahay nako para sa aso. Happy pill! 😊 ...
93,536,False,None,[],6135,"NP: Banal na aso, santong kabayo\n\nNatatawa a..."
94,3228,False,"{'type': 'Point', 'coordinates': [14.61941886,...",[],10223,Late post: Buti na lang talaga alert ako..kunc...
95,242,False,None,[],4463,"tao,ahas at aso."
96,473,False,None,[],5234,ALAM NIYO BANG MUNTIKAN NG GAWING PAGKAIN NG A...
97,220,False,None,[],10928,Dang kyot ng aso nila Sir huhu i want 😍
98,141,False,None,[],12781,Hindi sa dinidepensahan pero may umuulol na na...
99,200,False,None,[],8882,RT @Itsmeearlbravo: Di naman siguro ako pinang...

In [14]:


# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())
tweetsa=api.search(q='trump', geocode='52.132633,5.29126,100km')
tweetsa['statuses'][0]['user']['location']

'Delft, Holland'

In [114]:
df=pd.DataFrame({'a':1,'b':2,'c':3})
df2=pd.DataFrame({'a':1,'b':2,'c':3})
df+=df2

ValueError: If using all scalar values, you must pass an index

In [82]:
from datetime import date, timedelta
date.today() - timedelta(0)
for day in [str(date.today() - timedelta(i)).split()[0] for i in range(70)]:
    tweets=api.search('cat',geocode = '34.0934,56.134,200mi', until=day, max_id='1012848185839058950')
    print(tweets['statuses'][0]['created_at'])

Fri Jun 29 20:43:37 +0000 2018
Thu Jun 28 14:21:15 +0000 2018
Wed Jun 27 23:51:55 +0000 2018
Tue Jun 26 23:12:07 +0000 2018
Mon Jun 25 19:23:04 +0000 2018
Sun Jun 24 23:58:25 +0000 2018
Sat Jun 23 23:06:10 +0000 2018
Fri Jun 22 17:51:26 +0000 2018
Thu Jun 21 22:46:17 +0000 2018

IndexError: list index out of range

In [95]:
for a,b in zip([1,2],[2,3]):
    print(a,b)

1 2
2 3

In [122]:
#-- Get the most populated cities from wikipedia (Thank you wikipedia library!) --
html = wp.page("List_of_United_States_cities_by_population_density").html().encode("UTF-8")
df = pd.read_html(html)[1]
df=df.drop([0,1,4,5,6,8],axis=1)
df=df.rename(columns={2:'state',3:'city',7:'density'})
df=df.iloc[1:]
#df['population']=[int(city.split('\xa0')[-1].split('[')[0].replace(',','')) for city in df['population']]
df['density']=[int(city.split('\xa0')[-1].split('[')[0].replace(',','').split('.')[0]) for city in df['density']]
df
    #--- ---- ----- ----- ---- ---- ----- ---- ---- ----- --- ---- ---- ----- ---- ---

             state           city  density
1    New York City     New Jersey    57116
2    New York City     New Jersey    51810
3    New York City     New Jersey    49362
4    New York City     New Jersey    39066
5    New York City       New York    27788
6    New York City       New York    27016
7    New York City     New Jersey    24577
8    New York City     New Jersey    24060
9      Los Angeles     California    23216
10   New York City     New Jersey    22437
11   New York City       New York    21635
12           Miami        Florida    21484
13     Los Angeles     California    21254
14           Miami        Florida    20518
15     Los Angeles     California    19179
16          Boston  Massachusetts    18431
17     Los Angeles     California    18297
18   New York City     New Jersey    18218
19      Louisville       Kentucky    18100
20   New York City     New Jersey    18801
21   San Francisco     California    18679
22           Miami        Florida    17023
23     Los Angeles     California    16896
24    Philadelphia   Pennsylvania    16557
25   New York City     New Jersey    16377
26          Boston  Massachusetts    16354
27      Providence   Rhode Island    16146
28   New York City     New Jersey    16093
29          Boston  Massachusetts    16036
30     Los Angeles     California    16036
..             ...            ...      ...
104        Detroit       Michigan    10900
105   Philadelphia   Pennsylvania    10897
106   Philadelphia   Pennsylvania    10882
107  New York City     New Jersey    10855
108  New York City       New York    10847
109  New York City     New Jersey    10841
110  San Francisco     California    10752
111  New York City     New Jersey    10744
112    Los Angeles     California    10667
113  New York City     New Jersey    10590
114  New York City     New Jersey    10582
115    Los Angeles     California    10572
116  New York City     New Jersey    10556
117          Miami        Florida    10474
118    Los Angeles     California    10398
119   Philadelphia   Pennsylvania    10397
120  San Francisco     California    10368
121  New York City     New Jersey    10358
122         Boston  Massachusetts    10351
123  New York City       New York    10337
124   Philadelphia   Pennsylvania    10256
125      Cleveland           Ohio    10208
126  New York City       New York    10188
127  New York City       New York    10187
128    Los Angeles     California    10178
129  New York City     New Jersey    10144
130    Los Angeles     California    10126
131   Philadelphia   Pennsylvania    10107
132        Chicago       Illinois    10094
133    Los Angeles     California    10065

[133 rows x 3 columns]